body {
    font-family: "Raleway", sans-serif;
  }
  
  /* Hero Section */
  
  #Hero-Section {
    background-image: url("../images/Logo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
  }

  
/* Mis trabajos */

#Mis-trabajos .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  }
  
  /* Contacto */
  
  #Contacto form label {
    font-weight: 700;
    color: #040405;
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }
  
  /*Fuente navbar*/
  .margen_acerca-de-mi{
    height: 25px;
  }